<app-sidebar></app-sidebar>


<main role="main" class="main-panel">
  <!-- <app-toolbar></app-toolbar> -->
  <div class="content">
    <div class="row">
      <div class="col-md-6 " style="display: inline-block; padding: 30px 0px 5px 30px;">
        <span class="customHead" style="margin-top:8px;">BETS</span> </div>
      <div class="col-md-6"></div>
    </div>



    <div id="accordion">
      <div class="card">
        <!-- <div class="" id="headingOne"> -->
        <!-- <h5 class="mb-0"> -->
        <div id="mb">
          <h3>MATCH BETS <img (click)="click1()" id="btn" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne" src="https://image.flaticon.com/icons/svg/758/758809.svg"
              alt=""></h3>
          <h4>
            Count:&nbsp; Liability:&nbsp; Profit:&nbsp; Revert:&nbsp;
          </h4>



        </div>
        <!-- </h5> -->
        <!-- </div> -->

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul id="list1" class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <!-- Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS. -->
          </div>
        </div>
      </div>

      <div class="card">
        <!-- <div class="" id="headingOne"> -->
        <!-- <h5 class="mb-0"> -->
        <div id="mb">
          <h3>SESSION BETS <img (click)="click2()" id="btn" data-toggle="collapse" data-target="#collapse2"
              aria-expanded="true" aria-controls="collapse2" src="https://image.flaticon.com/icons/svg/758/758809.svg"
              alt=""></h3>
          <h4>
            Count:&nbsp; Liability:&nbsp; Profit:&nbsp; Revert:&nbsp;
          </h4>



        </div>
        <!-- </h5> -->
        <!-- </div> -->

        <div id="collapse2" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <ul id="list2" class="list-group">
              <li class="list-group-item">Cras justo odio</li>
              <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Morbi leo risus</li>
              <li class="list-group-item">Porta ac consectetur ac</li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
            <!-- Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
            officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3
            wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
            excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
            you probably haven't heard of them accusamus labore sustainable VHS. -->
          </div>
        </div>
      </div>

    </div>

  </div>
</main>